// home page styles
[data-page='home'] {
  .mainScreen {
    background-image: url("../img/main1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center right 88px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 7%;
    line-height: 1.23;
    div {
      font-family: 'corbel';
      font-size: 4.5em;
    }
  }
  .about {
    font-size: 12px;
    line-height: 2;
    display: flex;
    &__text {
      max-width: 80%;
      padding-right: 15%;
      margin-bottom: 40px;
    }
    &__logo {
      width: 100%;
      margin-top: -6%;
    }
  }
  .coaches {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25vw;
    &__pic {
      margin-bottom: 22px;
      position: relative;
      img {
        width: 185px;
        height: 185px;
        object-fit: cover;
        display: block;
      }
    }
    &__name {
      text-transform: uppercase;
      font-family: 'opensansSemibold';
      font-size: 14px;
      margin-bottom: 9px;
    }
    &__delimiter {
      width: 85px;
      height: 1px;
      background-color: #f5d9ea;
      margin-bottom: 11px;
    }
    &__prof {
      font-size: 11px;
      letter-spacing: 0.1em;
      line-height: 1.6;
      max-width: 96%;
      text-align: center;
    }
    .coach-overlay {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f5d9ea;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }
  .container-coach {
    background-image: url("../img/dots1.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
  }
  .styles {
    padding-right: 10%;
    padding-left: 10%;
    background-image: url("../img/dots2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  .style {
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #e4e2e2;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 29%;
    max-width: 245px;
    cursor: pointer;
    margin-bottom: 55px;
    &:hover {
      box-shadow: -5px -5px 40px 10px rgba(0,0,0,0.2);
      transition: box-shadow 1s;
    }
    .style-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 225px;
        height: 225px;
        object-fit: cover;
        display: block;
      }
      &__pic {
        margin-bottom: 18px;
      }
      &__name {
        font-size: 12px;
        margin-bottom: 12px;
        text-align: center;
      }
      &__logo {
        width: 65px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &-overlay {
      position: absolute;
      background-color: #f5d9ea;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-top: 22px;
      opacity: 0;
      transition: opacity 0.7s;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        opacity: 1;
        transition: opacity 0.7s;
      }
      &__logo {
        max-width: 46%;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      &__title {
        font-family: 'opensansSemibold';
        margin-bottom: 26px;
        text-align: center;
      }
      &__info {
        text-align: center;
        font-size: 11px;
        letter-spacing: 0.1em;
        line-height: 1.5;
      }
    }
  }

  .shedule {
    table-layout: fixed;
    tr {
      height: 30px;
    }
    tr:first-child {
      td:not(:first-child) {
        text-align: center;
        border: 3px solid #f5d9ea;
      }
      td:first-child {
        width: 80px;
      }
    }
    td {
      text-align: center;
      border: #c1c2c2 1px solid;
    }
    td:first-child {
      border: none;
    }
  }
}

.testrow2 {
  background-color: #faebf4;
}
.testrow1 {
  background-color: #fafafa;
}