//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit

.semiTitle {
  font-family: 'opensansSemibold';
  font-size: 13px;
}

//colors from hovermap

.text-rose {
  color: #f5d9ea;
}
.text-grey {
  color: #4f4f4f;
}

//colors for project


//other variables