extends ../extend/default

block variables
    - var title = 'Studio Soul';

block main
    main.content(data-page='home')
        +b.mainScreen.container
            .text-black STUDIO SOUL
            .text-grey ШКОЛА
            .text-rose ШЕСТОВОЙ
            .text-grey АКРОБАТИКИ
        +b.container-content
            +e.title О школе
            +b.about
                +e.text Studio Soul - это влюбленные в свое дело преподаватели. Работа на результат. Место где вы сможете всему научиться, побороть свои страхи и поверить в себя. Наши тренера сосредоточены на грамотном обучении. От простого к сложному! Мы очень серьёзно относимся к базе, потому что осознаём всю важность подготовки тела к сложным пилонным нагрузкам.  Направленность тренировок на людей любой категории спортивной подготовки. Гибкий график тренировок, различная длительность тренировок (1 час и 1,5 часа) и многочисленные направления, такие как: Pole Dance, Pole Exotic, Pole Kids, Stretching, Специальная физическая подготовка (СФП), а так же детская гимнастика.
                +e.logo
                    img(src="static/img/logo.svg" alt='image')
            +e.callback
                button.button-rose ЗАПИСАТЬСЯ НА ПРОБНОЕ ЗАНЯТИЕ
        +b.container-content.container-coach
            +e.title Наш тренерский состав
            +b.coaches
                +b.coach
                    +e.pic
                        img(src="static/img/pic1.jpg" alt='image')
                        .coach-overlay
                    +e.name Алина
                    +e.delimiter
                    +e.prof Pole-dance, pole-kids-стретчинг
                +b.coach
                    +e.pic
                        img(src="static/img/pic2.jpg" alt='image')
                        .coach-overlay
                    +e.name Даша
                    +e.delimiter
                    +e.prof Pole-dance, стретчинг
                +b.coach
                    +e.pic
                        img(src="static/img/pic1.jpg" alt='image')
                        .coach-overlay
                    +e.name Саша
                    +e.delimiter
                    +e.prof Экзотик-pole-dance
                +b.coach
                    +e.pic
                        img(src="static/img/pic2.jpg" alt='image')
                        .coach-overlay
                    +e.name Алиса
                    +e.delimiter
                    +e.prof Pole-dance, Pole-арт

