extends ../extend/default

block variables
    - var title = 'Studio Soul';

block main
    main.content(data-page='home')
        +b.mainScreen.container
            .text-black STUDIO SOUL
            .text-grey ШКОЛА
            .text-rose ШЕСТОВОЙ
            .text-grey АКРОБАТИКИ
        +b.container-content
            +e.title О школе
            +b.about
                +e.text Studio Soul - это влюбленные в свое дело преподаватели. Работа на результат. Место где вы сможете всему научиться, побороть свои страхи и поверить в себя. Наши тренера сосредоточены на грамотном обучении. От простого к сложному! Мы очень серьёзно относимся к базе, потому что осознаём всю важность подготовки тела к сложным пилонным нагрузкам.  Направленность тренировок на людей любой категории спортивной подготовки. Гибкий график тренировок, различная длительность тренировок (1 час и 1,5 часа) и многочисленные направления, такие как: Pole Dance, Pole Exotic, Pole Kids, Stretching, Специальная физическая подготовка (СФП), а так же детская гимнастика.
                +e.logo
                    img(src="static/img/logo.svg" alt='image')
            +e.callback
                button.button-rose ЗАПИСАТЬСЯ НА ПРОБНОЕ ЗАНЯТИЕ
        +b.container-content.container-coach
            +e.title Наш тренерский состав
            +b.coaches
                +b.coach
                    +e.pic
                        img(src="static/img/pic1.jpg" alt='image')
                        .coach-overlay
                    +e.name Алина
                    +e.delimiter
                    +e.prof Pole-dance, pole-kids-стретчинг
                +b.coach
                    +e.pic
                        img(src="static/img/pic2.jpg" alt='image')
                        .coach-overlay
                    +e.name Даша
                    +e.delimiter
                    +e.prof Pole-dance, стретчинг
                +b.coach
                    +e.pic
                        img(src="static/img/pic1.jpg" alt='image')
                        .coach-overlay
                    +e.name Саша
                    +e.delimiter
                    +e.prof Экзотик-pole-dance
                +b.coach
                    +e.pic
                        img(src="static/img/pic2.jpg" alt='image')
                        .coach-overlay
                    +e.name Алиса
                    +e.delimiter
                    +e.prof Pole-dance, Pole-арт
        +b.container-content.container-styles
            +e.title Направления
            +b.styles
                +b.style
                    +b.style-info
                        +e.pic
                            img(src="static/img/pic1.jpg" alt='image')
                        +e.name Pole-dance
                        +e.logo
                            img(src="static/img/logo.svg" alt='image')
                    +b.style-overlay
                        +e.logo
                            img(src="static/img/logo-white.svg" alt='image')
                        +e.title Pole-dance
                        +e.info Работаем на пилоне, разучиваем пилонные связки, акробатические элементы, работаем над силой и выносливостью. Делаем элементы из разряда «а на видео выглядит так легко», учимся красиво и грамотно управлять своим телом на пилоне.
                +b.style
                    +b.style-info
                        +e.pic
                            img(src="static/img/pic2.jpg" alt='image')
                        +e.name Exotic pole-dance
                        +e.logo
                            img(src="static/img/logo.svg" alt='image')
                    +b.style-overlay
                        +e.logo
                            img(src="static/img/logo-white.svg" alt='image')
                        +e.title Exotic pole-dance
                        +e.info Полет души и тела в прямом смысле! Танцуем, развиваем пластичность движений, снимаем все внутренние зажимы, неуверенность в себе. Безумно нежное, женственное и в тоже время страстное и огненное направление в тренировках на пилоне.
                +b.style
                    +b.style-info
                        +e.pic
                            img(src="static/img/pic1.jpg" alt='image')
                        +e.name Stretching
                        +e.logo
                            img(src="static/img/logo.svg" alt='image')
                    +b.style-overlay
                        +e.logo
                            img(src="static/img/logo-white.svg" alt='image')
                        +e.title Stretching
                        +e.info То без чего нельзя жить ни одной девушке. На тренировках постепенно растягиваем тело. Важно помнить, чем лучше растяжка, тем легче заниматься на пилоне. Ну и на самом деле красивый шпагат это круто!
                +b.style
                    +b.style-info
                        +e.pic
                            img(src="static/img/pic2.jpg" alt='image')
                        +e.name Pole kids
                        +e.logo
                            img(src="static/img/logo.svg" alt='image')
                    +b.style-overlay
                        +e.logo
                            img(src="static/img/logo-white.svg" alt='image')
                        +e.title Pole kids
                        +e.info Не забываем приобщать к тренировкам своих деток. Обучаем шестовой акробатике с малых лет. Учим связки, элементы, укрепляем тело. Перед началом тренировок важно понимать что ребёнок готов, не боится посторонних людей, будет выполнять то что говорит тренер.
                +b.style
                    +b.style-info
                        +e.pic
                            img(src="static/img/pic1.jpg" alt='image')
                        +e.name Детская гимнастика
                        +e.logo
                            img(src="static/img/logo.svg" alt='image')
                    +b.style-overlay
                        +e.logo
                            img(src="static/img/logo-white.svg" alt='image')
                        +e.title Детская гимнастика
                        +e.info Разучиваем стойки, перевороты, укрепляем тело, растягиваемся. Постепенно обучаем Вашего ребёнка всем азам гимнастики, готовим тело к нагрузкам, учим чувствовать себя в пространстве.
                +b.style
                    +b.style-info
                        +e.pic
                            img(src="static/img/pic2.jpg" alt='image')
                        +e.name Специальная физическая подготовка (сфп)
                        +e.logo
                            img(src="static/img/logo.svg" alt='image')
                    +b.style-overlay
                        +e.logo
                            img(src="static/img/logo-white.svg" alt='image')
                        +e.title Специальная физическая подготовка (сфп)
                        +e.info Готовим тело к пилонным нагрузкам. Показана как новичкам так и продолжающим. Тренируем различные хваты, привыкаем держать пилон, развиваем силу и выносливость. Бонусом от таких тренировок Вы получаете подкачанное тело!

        +b.container-content.container-cost.dots
            +e.title Стоимость
            +e.subtitle Абонемент действует на любое направление.
            +e.subtitle На утренние и детские абонементы действует скидка 10% от указанной стоимости.
            .costs__title
                img(src="static/img/logo.svg" alt='image')
                span Разовые абонементы
            +b.costs
                +b.cost
                    +e.item
                        +e.title Пробное занятие
                        +e.time
                        +e.price 50 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title Разовое посещение
                        +e.time (1 час)
                        +e.price 70 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title Разовое посещение
                        +e.time (1.5 часа)
                        +e.price 100 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title Разовое посещение
                        +e.time (2 часа)
                        +e.price 120 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title Индивидуальное занятие
                        +e.time (1 час)
                        +e.price 250 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')

            .costs__title
                img(src="static/img/logo.svg" alt='image')
                span Абонементы на месяц
            +b.costs
                +b.cost
                    +e.item
                        +e.title 4 часа
                        +e.time
                        +e.price 260 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 6 часов
                        +e.time
                        +e.price 360 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 8 часов
                        +e.time
                        +e.price 490 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 12 часов
                        +e.time
                        +e.price 690 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 16 часов
                        +e.time
                        +e.price 860 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 18 часов
                        +e.time
                        +e.price 940 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title Безлимит
                        +e.time
                        +e.price 1400 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')

            .costs__title
                img(src="static/img/logo.svg" alt='image')
                span Долгосрочные абонементы
            +b.costs
                +b.cost
                    +e.item
                        +e.title 24 часа
                        +e.time (на 2 месяца)
                        +e.price 1250 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 36 часов
                        +e.time (на 3 месяца)
                        +e.price 1870 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 72 часа
                        +e.time (на 6 месяцев)
                        +e.price 3600 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
                +b.cost
                    +e.item
                        +e.title 144 часа
                        +e.time (на 12 месяцев)
                        +e.price 7000 грн.
                    button
                        img(src="static/img/shopping.svg" alt='image')
        +b.container-content.container-shedule
            +e.title Расписание
            TABLE.shedule
                tr
                    td.timing
                    td Понедельник
                    td Вторник
                    td Среда
                    td Четверг
                    td Пятница
                    td Суббота
                    td Воскресенье
                tr.testrow1
                    td.timing(rowspan='2') 10:00
                    td(rowspan='2')
                        .what Stretching
                        .who Даша
                    td(rowspan='2')
                        .what СФП
                        .who Даша
                    td(rowspan='2')
                        .what Stretching
                        .who Даша
                    td(rowspan='2')
                        .what СФП
                        .who Даша
                    td(rowspan='2')
                        .what Stretching
                        .who Даша
                    td(rowspan='2')
                    td(rowspan='2')
                tr.testrow1
                tr.testrow2
                    td.timing(rowspan='2') 11:00
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                    td(rowspan="4")
                        .what Stretching комплекс (2 часа)
                        .who Даша
                tr.testrow2
                tr.testrow1
                    td.timing(rowspan='2') 12:00
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='3')
                        .what Pole-dance
                        .who Даша, Алина (1,5 часа)
                tr.testrow1
                tr.testrow2
                    td.timing(rowspan='2') 13:00
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша
                tr.testrow2
                    td(rowspan='3')
                        .what Exotic pole-dance
                        .who Александра
                tr.testrow1
                    td.timing(rowspan='2') 14:00
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                tr.testrow1
                tr.testrow2
                    td.timing(rowspan='2') 15:00
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2')
                        .what Pole Art (закрытая группа)
                        .who Алиса
                    td(rowspan='2')
                tr.testrow2
                tr.testrow1
                    td.timing(rowspan='2') 17:00
                    td(rowspan='2')
                        .what Pole Kids
                        .who Алина
                    td(rowspan='2')
                        .what Детская гимнастика
                        .who Алина
                    td(rowspan='2')
                        .what Pole Kids
                        .who Алина
                    td(rowspan='2')
                        .what Pole Kids
                        .who Алина
                    td(rowspan='2')
                        .what Детская гимнастика
                        .who Алина
                    td(rowspan='2')
                    td(rowspan='2')
                tr.testrow1
                tr.testrow2
                    td.timing(rowspan='2') 18:00
                    td(rowspan='2')
                        .what Pole Dance
                        .who Алина
                    td(rowspan='2')
                        .what Детская гимнастика
                        .who Алина
                    td(rowspan='2')
                        .what Pole Dance
                        .who Алина
                    td(rowspan='2')
                        .what Pole Dance
                        .who Алина
                    td(rowspan='2')
                        .what Pole Art
                        .who Алиса
                    td(rowspan='2')
                    td(rowspan='2')
                tr.testrow2
                tr.testrow1
                    td.timing(rowspan='2') 19:00
                    td(rowspan='3')
                        .what Pole Dance
                        .who Алиса
                    td(rowspan='2')
                        .what Stretching ноги
                        .who Даша
                    td(rowspan='3')
                        .what Pole Dance
                        .who Алиса
                    td(rowspan='3')
                        .what Pole Exotic
                        .who Александра
                    td(rowspan='2')
                        .what Stretching спина
                        .who Даша
                    td(rowspan='2')
                    td(rowspan='2')
                tr.testrow1
                tr.testrow2
                    td.timing(rowspan='2') 20:00
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша, Алина
                    td(rowspan='2')
                        .what Pole-dance
                        .who Даша, Алина
                    td(rowspan='2')
                    td(rowspan='2')
                tr.testrow2







