extends ../extend/default

block variables
    - var title = 'Studio Soul';

block main
    main.content(data-page='home')
        +b.mainScreen.container
            .text-black STUDIO SOUL
            .text-grey ШКОЛА
            .text-rose ШЕСТОВОЙ
            .text-grey АКРОБАТИКИ