mixin header()
    header
        +b.header.container
            +e.__logo
                a(href="#")
                    img(src="static/img/full-logo.svg" alt='image')
            +b.mainmenu
                +e.__info
                    +e.__schedule
                        p.semiTitle График работы:
                        p Понедельник - суббота
                        p с 9:00 до 18:00
                    +e.address
                        span.semiTitle Киев,
                        span метро Лукьяновская, Дегтяревская, 5
                        div
                            a(href="#") poledancesoul@gmail.com
                        div
                            a(href="#") 066 545 45 54
                            span ,
                            a(href="#") 050 111 64 65
                +b.menu
                    +e.__item
                        a(href="#") О школе
                    +e.__item
                        a(href="#") Тренерский состав
                    +e.__item
                        a(href="#") Направления
                    +e.__item
                        a(href="#") Расписание
                    +e.__item
                        a(href="#") Стоимость
                    +e.__item
                        a(href="#") Контакты
            +b.contacts
                +e.__callback
                    button.button-rose Перезвонить
                +b.social
                    +e.__item
                        a(href="#")
                            img(src="static/img/insta.svg" alt='image')
                    +e.__item
                        a(href="#")
                            img(src="static/img/fb.svg" alt='image')
                    +e.__item
                        a(href="#")
                            img(src="static/img/viber.svg" alt='image')



